<main>
    <div class="jumbotron container" id="create-post-form">
        <form class="form-createpost form" method="POST" action="/news/add">
            <h1 class="text-center">Lägg till Nyheter</h1>
            <br>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-label-group">
                <input name="newsTitle" type="text" class="form-control" placeholder="Nyhets titel" value="{{newsTitle}}" maxlength="100">
            </div>
            <br>
            <div class="form-label-group">
                <textarea name="newsDescription" type="text" class="form-control" placeholder="Innehåll" value="{{description}}" maxlength="1000"></textarea>
            </div>
            <br>
            <div class="form-label-group">
                <input type="file" name="serviceImage" class="form-control" accept="image/jpg, image/png">
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="create-post-submitbutton">Post</button>
        </form>
    </div>
</main>
