<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-12">
            <!-- Title -->
            <h1 class="mt-4">{{newspost.title}}</h1>
            <hr>
            <!-- Date/Time -->
            <p>Uppladdat {{newspost.date}}</p>
            <hr>
            <!-- Post Content -->
            <div class="lead">
                {{newspost.content}}
            </div>
            <hr>
        </div>
    </div>
</div>