<div class="container">
    <h1 class="text-center">Service</h1>
    <p class="text-center">Här är en lista över tjänster som vi jobbar med: </p>
    <div class="card-deck offset-md-1">
        {{#if serviceList.length}}
        {{#each serviceList}}
            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top" src="./upload/services/{{imageLink}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        {{/each}}
    {{/if}}
    </div>
</div>