<div class="container">
    <h1 class="text-center">Personal</h1>
    <p class="text-center">Lista över vår kunniga personal</p>
    <div class="text-center">
        {{#if staffList.length}}
        {{#each staffList}}
        <div class="row col d-flex justify-content-center">
            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top" src="/routers/upload/staff/{{imageLink}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{firstName}} {{lastName}}</h5>
                    <p class="card-text">{{profession}}</p>
                </div>
            </div>
        </div>
        <br>
        {{/each}}
        {{/if}}
        <br>
        <br>
    </div>
</div>